html,
body,
div,
span,
h1,
h2,
p,
a,
i,
ul,
li,
textarea,
input {
  margin: 0;
  padding: 0;
}
input[type=password],
input[type=text],
textarea {
  resize: none;
  outline: 0;
  -webkit-appearance: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #fff;
}
input {
  outline: 0 none;
  border: 0 none;
}
.home {
  width: 100%;
  height: 100%;
}
.home .bodys {
  margin: 3.2rem;
}
.home .bodys div {
  height: 2.56rem;
  border: 1px solid #cccccc;
  line-height: 2.56rem;
  text-align: center;
  background-color: skyblue;
}
.home .bodys div {
  margin: 1.28rem 0;
}
.keyboards {
  width: 100%;
  height: 100%;
}
.keyboards .input {
  margin: 4.26666667rem auto;
}
.keyboards .input {
  width: 6.4rem;
  text-align: center;
}
.keyboards .input {
  height: 3.2rem;
  line-height: 3.2rem;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: center;
}
.keyboards .input span {
  display: block;
  font-size: 0.68266667rem;
}
.keyboards .input .icon {
  width: 0.128rem;
}
.keyboards .input .icon {
  height: 1.28rem;
  background: url('../img/small.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.keyboards .input .icon {
  margin-top: 0.85333333rem;
}
.keyboards .key {
  position: fixed;
  left: 0;
  bottom: 0;
}
.getdate {
  width: 100%;
  height: 100%;
}
.drag {
  position: relative;
  background-color: #fff;
}
.drag .content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.drag .content .small-picture {
  padding-top: 0.512rem;
}
.drag .content .small-picture p {
  line-height: 0.704rem;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #999999;
}
.drag .content .small-picture p {
  font-size: 0.512rem;
}
.drag .content .small-picture p {
  padding-bottom: 0.21333333rem;
}
.drag .content .small-picture .pc-show {
  display: flex;
  flex-wrap: wrap;
}
.drag .content .small-picture .pc-show .showpc {
  margin-right: 0.29866667rem;
  margin-top: 0.29866667rem;
  background: #f5f7fa;
  width: 100%;
}
