@import "../less//px2rem.less";
@import "../less/base.less";
.home {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    .search {
        .px2rem(30);
        padding: @px2rem 0;
        background-color: #5DABF3;
    }
}