html,
body,
div,
span,
p,
ul,
li,
input {
  margin: 0;
  padding: 0;
}

i {
  font-style: normal;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Microsoft Yahei', 'simsun', 'arial', 'tahoma';
  color: #333;
  box-sizing: border-box;
}

h1,
h2 {
  font-size: 100%;
  font-weight: normal;
}

// button,
// input {
//   font-size: 100%;
// }

img {
  border: 0;
}

a,
img {
  -webkit-touch-callout: none
}

a,
a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none
}

input[type=password],
input[type=text],
ul {
  list-style: none;
}

:focus {
  outline: none;
}

input {
  outline: 0 none;
  border: 0 none;
}

@theme-color: #5DABF3; //主色
@theme-color-sub: #9CD5FF; //次色

@theme-font: #333; //主字体色
@theme-font-sec: #666; //次字体色
@theme-font-sub: #999; //次次字体色
@theme-font-sub-light: #c9c9c9; //次次字体色
@theme-font-sub-line: #f7f6f8; //横线颜色
@theme-font-sub-arrow: #d8d8d8; //箭头颜色

@theme-color-bg: #f7f6f8; //背景颜色

@theme-btn: #ea7257;

.ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.toast-position-top-offset(@length) {
  @toast-position-top-offset: unit(@length, px);
}

.toast-position-bottom-offset(@length) {
  @toast-position-top-offset: unit(@length, px);
}

.toast-content-font-size(@length) {
  @ttoast-content-font-size: unit(@length, px);
}

.background() {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
