html,
body,
div,
span,
p,
ul,
li,
input {
  margin: 0;
  padding: 0;
}
i {
  font-style: normal;
}
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Microsoft Yahei', 'simsun', 'arial', 'tahoma';
  color: #333;
  box-sizing: border-box;
}
h1,
h2 {
  font-size: 100%;
  font-weight: normal;
}
button,
input {
  font-size: 100%;
}
img {
  border: 0;
}
a,
img {
  -webkit-touch-callout: none;
}
a,
a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
}
input[type=password],
input[type=text],
ul {
  list-style: none;
}
:focus {
  outline: none;
}
input {
  outline: 0 none;
  border: 0 none;
}
.cuskeyboard {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.cuskeyboard .keyboardcon {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
}
.cuskeyboard .keyboardcon .number {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cuskeyboard .keyboardcon .number .numberitem {
  height: 2.64533333rem;
  box-sizing: border-box;
  border-top: 4px solid #F4F4F4;
  border-right: 4px solid #F4F4F4;
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cuskeyboard .keyboardcon .number .numberitem:nth-of-type(1) {
  border-top: 7px solid #F4F4F4;
  border-left: 7px solid #F4F4F4;
}
.cuskeyboard .keyboardcon .number .numberitem:nth-of-type(2) {
  border-top: 7px solid #F4F4F4;
}
.cuskeyboard .keyboardcon .number .numberitem:nth-of-type(3) {
  border-top: 7px solid #F4F4F4;
}
.cuskeyboard .keyboardcon .number .numberitem:nth-of-type(4) {
  border-left: 7px solid #F4F4F4;
}
.cuskeyboard .keyboardcon .number .numberitem:nth-of-type(7) {
  border-left: 7px solid #F4F4F4;
}
.cuskeyboard .keyboardcon .number .numberitem:nth-of-type(10) {
  width: 66.6%;
  border-bottom: 7px solid #F4F4F4;
  border-left: 7px solid #F4F4F4;
}
.cuskeyboard .keyboardcon .number .numberitem:nth-of-type(11) {
  border-bottom: 7px solid #F4F4F4;
}
.cuskeyboard .keyboardcon .number .numberitem .numspan {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.024rem;
}
.cuskeyboard .keyboardcon .number .numberitem .textspan {
  font-size: 0.768rem;
}
.cuskeyboard .keyboardcon .operate {
  width: 25%;
}
.cuskeyboard .keyboardcon .operate .operateitem {
  width: 100%;
  height: 2.64533333rem;
  box-sizing: border-box;
  border-top: 7px solid #F4F4F4;
  border-right: 7px solid #F4F4F4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cuskeyboard .keyboardcon .operate .operateitem .raback {
  background: url("../../common/img/reback.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1.152rem;
  display: block;
}
.cuskeyboard .keyboardcon .operate .operateitem .raback {
  height: 0.768rem;
}
.cuskeyboard .keyboardcon .operate .nextitem {
  background: #F79825;
  border: none;
}
.cuskeyboard .keyboardcon .operate .sureitem {
  background: #5DABF3;
  border-top: 4px solid #F4F4F4;
  border-right: 7px solid #F4F4F4;
  border-bottom: 7px solid #F4F4F4;
  height: 8.064rem;
}
.cuskeyboard .keyboardcon .operate .flexcenter {
  color: #ffffff;
  font-size: 0.768rem;
}
