html,
body,
div,
span,
p,
ul,
li,
input {
  margin: 0;
  padding: 0;
}
i {
  font-style: normal;
}
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Microsoft Yahei', 'simsun', 'arial', 'tahoma';
  color: #333;
  box-sizing: border-box;
}
h1,
h2 {
  font-size: 100%;
  font-weight: normal;
}
img {
  border: 0;
}
a,
img {
  -webkit-touch-callout: none;
}
a,
a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
}
input[type=password],
input[type=text],
ul {
  list-style: none;
}
:focus {
  outline: none;
}
input {
  outline: 0 none;
  border: 0 none;
}
.search {
  margin: 0 0.64rem;
}
.search .search-input {
  width: 100%;
  background-color: #fff;
  border-radius: 0.17066667rem;
}
.search .search-input {
  height: 1.62133333rem;
  display: flex;
  flex-wrap: nowrap;
}
.search .search-input .icon {
  width: 1.62133333rem;
  height: 1.62133333rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search .search-input .icon span {
  display: block;
  width: 0.768rem;
}
.search .search-input .icon span {
  height: 0.78933333rem;
  background-image: url('../../common//img/search.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.search .search-input .input {
  flex: 1;
  margin-right: 0.64rem;
}
.search .search-input .input {
  padding: 0.36266667rem 0;
}
.search .search-input .input {
  font-size: 0.64rem;
}
.search .search-input .input {
  padding-left: 0.40533333rem;
  color: #646464;
}
.search .search-input .input ::-webkit-input-placeholder {
  /*Webkit browsers 谷歌*/
  color: #a4a4a4;
  font-size: 0.34133333rem;
}
.search .search-input .input :-moz-placeholder {
  /*Mozilla Firefox 4 to 8 火狐*/
  color: #a4a4a4;
  font-size: 0.64rem;
}
.search .search-input .input ::moz-placeholder {
  /*Mozilla Firefox 19+ 火狐*/
  color: #a4a4a4;
  font-size: 0.64rem;
}
.search .search-input .input :-ms-input-placeholder {
  /*Internet Explorer 10+ IE10以上*/
  color: #a4a4a4;
  font-size: 0.64rem;
}
.search .search-input .cleartxt {
  width: 1.62133333rem;
  height: 1.62133333rem;
}
.search .search-input .cleartxt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.42666667rem;
}
.search .search-input .cleartxt span {
  display: block;
  padding: 0.04266667rem 0;
  border-radius: 50%;
  border: 1px solid #919090;
  color: #919090;
}
.search .search-input .cleartxt span {
  padding-right: 0.32rem;
  padding-left: 0.32rem;
}
.search .search-input .cleartxt span {
  font-size: 0.384rem;
}
